<h2>Payment</h2>
<ng-container *ngIf="payment; else elseTemplate">
  <div><span>Total: </span>{{payment.value}}</div>
  <div>
    <label>Number:
      <input [(ngModel)]="payment.creditCard.number" placeholder="0000 0000 0000 0000" required/>
    </label>
    <br/>
    <label>Name:
      <input [(ngModel)]="payment.creditCard.name" placeholder="Name" required/>
    </label>
    <br/>
    <label>Expiration Date:
      <input [(ngModel)]="payment.creditCard.expiration" placeholder="00/00" required/>
    </label>
  </div>
  <div *ngIf="isFormValid()">
    <button (click)="confirmPay()">Confirm</button>
  </div>
  <button (click)="goBack()">Back</button>  
</ng-container>
<ng-template #elseTemplate>
  <span>Payment was accepted and the order will be available to be collected at the store.</span>
</ng-template>
